fastapi
uvicorn
sqlalchemy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic-settings
bcrypt
python-dotenv
aiofiles
Pillow
pymysql
psycopg2-binary
cryptography
email-validatorpsycopg2 
