fastapi
uvicorn
sqlalchemy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pydantic[email]
pydantic-settings
python-dotenv
aiofiles
Pillow
pymysql
cryptography
email-validator
psycopg2-binary